doctype html
html
  head
    title AcordãosBD 
    meta(charset='utf-8')
    link(rel='icon' href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="/javascripts/jquery-3.6.4.min.js")
    script(src="/javascripts/jquery.modal.min.js")
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    script(src="/javascripts/interface.js")
  body
    block content
